nav{
  background-color: black;
  position: relative;
}

.hidden{
  display: none;
}

#home-button{
  position: absolute;
}

#favorites-button{
  position: absolute;
}

.center-title{
  text-align: center;
}

.header-text, .subheader-text, .nav-text{
  font-family: 'Balsamiq Sans', cursive;
  color: white;
}

.nav-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1%;
}

#greeting{
  text-align: center;
}

#home-button, #favorites-button {
  border: none;
  font-family: 'Balsamiq Sans', cursive;
  background-color: black;
  color: white;
  height: 100%;
}

.row{
  display: flex;
  margin: 2rem auto;
}

.col-fourth {
  width: 25%;
  border: solid black;
  border-radius: 10px;
}

.col-fourth img{
  width: 100%;
  height: 100%;
}

.col-fourth:hover {
  cursor: pointer;
}

#user-name{
  width: 100%;
  font-family: 'Balsamiq Sans', cursive;
  border: black solid;
  border-radius: 5px;
}

#user-name:focus{
  background-color: black;
  color: white;
  border: black solid;
  border-radius: 5px;
}

#submit-name{
  font-family: 'Balsamiq Sans', cursive;
  border: solid #cb413e;
  border-radius: 5px;
  background-color: #cb413e;
  color: white;
}

.movie-poster {
  display: flex;
  justify-content: center;
}

.movie-poster > img {
  width: 100%;
}

.favButtonContainer {
  display: flex;
  justify-content: center;
}

#return-home, #add-to-favorites-button, #remove-from-favorites-button {
  border: solid #cb413e;
  border-radius: 5px;
  background-color: #cb413e;
  color: white;
  padding: 10px 30px;
}

#return-home:hover, #add-to-favorites-button:hover, #remove-from-favorites-button:hover {
  background-color: black;
  color: white;
  border:solid black;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 1025px){
  body {
    height: 1007px;
  }
  nav{
  height: 100px;
}

.container {
  margin: 0px auto;
  padding: 0 2rem;
  max-width: 1200px;
}

#home-button{
  right: 20rem;
}

#favorites-button{
  right: 10rem;
}

.header-text {
  font-size: 40px;
}

.subheader-text{
  font-size: 36px;
}

.center-title{
  font-size: 60px;
}

#home-button, #favorites-button {
  font-size: 30px;
}

#home-button:hover, #favorites-button:hover {
  cursor: pointer;
  background-color: #cb413e;
  color: white;
  transition: 0.5s;
}

.col-fourth {
  margin: 0.5rem;
}

.col-fourth:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.center{
  margin: 15rem 5rem;
}

.desc-img {
  padding: 3rem 10rem;
}

#user-name{
  width: 100%;
  height: 50px;
  font-size: 30px;
}

#submit-name:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.movie-poster {
  padding: 2rem 10rem;
}

#return-home:hover, #add-to-favorites-button:hover, #remove-from-favorites-button:hover{
  transform: scale(1.1);
  background-color: #cb413e;
  transition: 0.5s;
  cursor: pointer;
}

#submit-name{
  margin: 0px auto;
  padding: 10px 30px;
  font-size: 30px;
}
}

@media screen and (max-width: 1024px) {
nav{
  height: 100px;
}
  body {
    height: 768px;
  }
.center{
  margin: 15rem 5rem;
}
#home-button{
  right: 10rem;
}

#favorites-button{
  right: 2rem;
}

.nav-text {
  font-size: 24px;
}
.header-text {
  font-size: 40px;
}

.subheader-text{
  font-size: 32px;
}

#home-button, #favorites-button {
  font-size: 24px;
}

#submit-name{
  font-size: 24px;
  margin: 0px auto;
  padding: 15px 60px;
}

#user-name {
  height: 40px;
  font-size: 30px;
}

.movie-poster {
  width: 50%;
  margin: 0px auto;
}

.desc-img {
  width: 100%;
  margin: 0px auto;
}
}

@media screen and (max-width: 768px) {
  nav{
  height: 100px;
}
  body {
    height: 1024px;
  }
.center{
  margin: 20rem 5rem;
}
#home-button{
  right: 10rem;
}

#favorites-button{
  right: 2rem;
}

.nav-text {
  font-size: 24px;
}
.header-text {
  font-size: 40px;
}

.subheader-text{
  font-size: 32px;
}

#home-button, #favorites-button {
  font-size: 24px;
}

#submit-name{
  font-size: 24px;
  margin: 0px auto;
  padding: 15px 60px;
}

.movie-poster {
  display: flex;
  margin: 0px auto;
  width: 50%;
}

.desc-img {
  width: 100%;
}
}

@media screen and (max-width: 667px) {
  nav{
  height: 100px;
}
  body {
    height: 375px;
  }
.center{
  margin: 7rem 5rem;
}
#home-button{
  right: 10rem;
}

#favorites-button{
  right: 2rem;
}
}

@media screen and (max-width: 568px){
  body{
    height: 320px;
  }

  nav{
  height: 100px;
}


#home-button{
  right: 10rem;
}

#favorites-button{
  right: 2rem;
}

.header-text {
  font-size: 40px;
}

.subheader-text{
  font-size: 32px;
}

#home-button, #favorites-button {
  font-size: 24px;
}

.col-fourth {
  margin: 0.25rem;
}

.center{
  margin: 4rem auto auto 0rem;
}

.movie-poster {
  width: 100%;
}

.desc-img {
  width: 100%;
  box-sizing: content-box;
  margin: 0px auto;
}

#user-name{
  width: 100%;
  height: 50px;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
  border: black solid;
  border-radius: 5px;
}

#submit-name{
  margin: 20px auto;
  font-size: 30px;
  padding: 10px 30px;
}


#return-home, #add-to-favorites-button, #remove-from-favorites-button {
  padding: 10px 30px;
  margin-bottom: 25px;
}

.movie-poster {
  display: flex;
  margin: 0px auto;
  width: 100%;
}

.desc-img {
  width: 100%;
}
}

@media screen and (max-width: 375px){
  body {
    height: 667px;
  }

  nav{
  height: 75px;
  position: relative;
}

#home-button{
  right: 7rem;
}

#favorites-button{
  right: 1rem;
}

.header-text {
  font-size: 40px;
}

.subheader-text{
  font-size: 22px;
}

#greeting{
  text-align: center;
}

#home-button, #favorites-button {
  font-size: 16px;
}

.col-fourth {
  margin: 0.25rem;
}

.center{
  margin: 12.5rem auto;
}

.desc-img {
  margin-top: 1rem;
}

#user-name{
  height: 30px;
}

#user-name:focus{
  background-color: black;
  color: white;
  border: black solid;
  border-radius: 5px;
}

#submit-name{
  margin: 0px auto;
  padding: 5px 15px;
}

#return-home, #add-to-favorites-button, #remove-from-favorites-button {
  padding: 10px 30px;
  margin-bottom: 10px;
}
.movie-poster {
  display: flex;
  margin: 0px auto;
  width: 100%;
}

.movie-poster {
  width: 100%;
  padding: 0px;
}

.desc-img {
  width: 100%;
  box-sizing: content-box;
  padding: 0px;
  margin: 0px auto;
}
}

@media screen and (max-width: 320px){
  nav{
  height: 75px;
  position: relative;
}



#home-button{
  right: 7rem;
}

#favorites-button{
  right: 1rem;
}

.header-text {
  font-size: 34px;
}

.subheader-text{
  font-size: 18px;
}

#greeting{
  text-align: center;
}

#home-button, #favorites-button {
  font-size: 16px;
}

.col-fourth {
  margin: 0.25rem;
}

.center{
  margin: 10rem auto;
}

#user-name{
  height: 30px;
}

#user-name:focus{
  background-color: black;
  color: white;
  border: black solid;
  border-radius: 5px;
}

#submit-name{
  margin: 0px auto;
  padding: 5px 15px;
}

#return-home, #add-to-favorites-button, #remove-from-favorites-button {
  padding: 10px 30px;
  margin-bottom: 10px;
}
.movie-poster {
  width: 100%;
  padding: 0px;
}

.desc-img {
  width: 100%;
  box-sizing: content-box;
  padding: 0px;
  margin: 0px auto;
}

.nav-text {
  font-size: 16px;
}
}
