nav{
  background-color: gray;
  height: 75px;
  position: relative;
}

.container {
  padding: 0 1rem;
}

#home-button{
  position: absolute;
  top: 1.5rem;
  right: 7rem;
}

#favorites-button{
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.header-text {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 42px;
}

.subheader-text{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 24px;
}

#home-button, #favorites-button {
  border: none;
  background-color: gray;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 16px;
}

.row{
  display: flex;
  margin: 2rem auto;
}

.col-fourth {
  width: 25%;
  margin: 0.25rem;
}

.col-fourth img{
  width: 100%;
}
